.conteiner{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(201, 183, 183);
}

figure {
    display: flex;
    justify-content: center;
}