.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#411818, #792d2d);
    /* background-color: rgb(56, 56, 61); */
    height: 150px;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    color: red;
}






